__pycache__
venv
node_modules
package-lock.json
ollama_serv.egg-info
ollama-serv-data
config.py
data
chat_client.egg-info
prompt.md
uv.lock

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
