{% extends "base.html" %} {% set body_class = 'page-dialogs' %} {% block head %} {% endblock head %} {% block content %}

<main class="default-container">
    <h3>Dialogs</h3>
    <form id="dialogs-search-form">
        <input id="dialogs-search-input" name="q" type="text" placeholder="Search dialogs" autocomplete="off" />
    </form>
    <div id="dialogs-container" class="dialogs"></div>
    <div id="loading" class="loading-spinner hidden"></div>
    <button id="load-more-dialogs" class="hidden" type="button">Load more</button>
    <p id="no-dialogs" class="hidden">No dialogs found</p>
</main>

<script type="module">
    import { initUsersDialogsPage } from '/static/js/pages/users-dialogs.js';
    initUsersDialogsPage();
</script>

<style>

    a.svg-container {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
</style>

{% endblock content %}
