{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block content %}


{% if logged_in %}
<main class="default-container">
    <h3>Login</h3>
    <p>You are already logged in.</p>
</main>

{% endif %}

{% if not logged_in %}

<main class="default-container">

    <h3>Login</h3>

    <form action="/user/login" method="post">

        <label for="email">E-mail</label>
        <input id="email" type="text" name="email">

        <label for="password">Password</label>
        <input id="password" type="password" name="password">

        <label for="remember">Keep me signed in</label>
        <input type="checkbox" value="1" id="remember" name="remember" checked="checked">

        <br>
        <button id="login">Send</button>

    </form>
    <div>
        <p>
            <a href="/user/reset">Reset your password</a>
        </p>
    </div>
</main>

<script type="module">
    import { initUsersLoginPage } from '/static/js/pages/users-login.js';
    initUsersLoginPage();
</script>
{% endif %}

{% endblock content %}
