{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block content %}


<main class="default-container">

    <h3>New password</h3>

    <form id="new-password-form">

        <input type="password" name="password" placeholder="New password" autocomplete="new-password">
        <input type="password" name="password_2" placeholder="Repeat new password" autocomplete="new-password">

        <input type="hidden" name="token" value="{{ token }}">

        <button id="submit" class="btn btn-primary">Send</button>
    </form>
</main>
<script type="module">
    import { initUsersNewPasswordPage } from '/static/js/pages/users-new-password.js';
    initUsersNewPasswordPage();
</script>
{% endblock content %}
