{% extends "base.html" %}

{% set body_class = 'page-profile' %}

{% block head %}
{% endblock head %}

{% block content %}

<main class="default-container">
    <h3>Profile</h3>

    <form method="post" action="/user/profile" class="profile-form">
        <label for="username">Your Username</label>
        <input type="text" id="username" name="username" placeholder="Your username" aria-label="Username"
            value="{{ profile.username }}" autocomplete="off" required>
        <div class="checkbox-container">
            <label for="dark_theme">Dark theme</label>
            <input type="checkbox" aria-label="Dark mode" value="1" id="dark_theme" name="dark_theme" {% if
                profile.dark_theme %}checked{% endif %}>
        </div>
        <button id="save">Save</button>
    </form>
</main>

<script type="module">
    import { initUsersProfilePage } from '/static/js/pages/users-profile.js';
    initUsersProfilePage();
</script>

{% endblock content %}
