{% extends "base.html" %}

{% set body_class = 'page-profile' %}

{% block head %}
{% endblock head %}

{% block content %}

<main class="default-container">
    <h3>Profile</h3>

    <form method="post" action="/user/profile" class="profile-form">
        <label for="username">Your Username</label>
        <input type="text" id="username" name="username" placeholder="Your username" aria-label="Username"
            value="{{ profile.username }}" autocomplete="off" required>
        <div class="checkbox-container">
            <label for="dark_theme">Dark theme</label>
            <input type="checkbox" aria-label="Dark mode" value="1" id="dark_theme" name="dark_theme" {% if
                profile.dark_theme %}checked{% endif %}>
        </div>
        <button id="save">Save</button>
    </form>
</main>

<script type="module">

    import { Flash } from '/static/js/flash.js';
    import { Requests } from '/static/js/requests.js';

    document.getElementById('save').addEventListener('click', async (event) => {

        const spinner = document.querySelector('.loading-spinner');
        spinner.classList.toggle('hidden');
        try {

            event.preventDefault();

            let jsonData = {
                username: document.getElementById('username').value,
                dark_theme: document.getElementById('dark_theme').checked,
            };

            const res = await Requests.asyncPostJson('/user/profile', jsonData);
            if (res.error) {
                Flash.setMessage(res.message, 'error');
            } else {
                // Reload the page using JS to reflect changes
                window.location.reload();

            }
        } catch (error) {
            console.error(error);
            Flash.setMessage('An error occurred while saving your profile.', 'error');
        } finally {
            spinner.classList.toggle('hidden');
        }
    });

</script>

{% endblock content %}