{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block content %}


<main class="default-container">

    <h3>Reset password</h3>

    <form id="reset-form">

        <label for="email">E-mail</label>
        <input id="email" type="text" name="email">

        <div class="captcha-container hidden">
            <img id="captcha-img" title="Click to get a new image" >
            <br>

            <label for="captcha">Enter above image text (click to get a new image). Case of the text does not
                matter:</label>
            <input autocomplete="off" type="text" name="captcha">
        </div>
        <button id="submit" class="btn btn-primary">Send</button>
    </form>
</main>
<script type="module">
    import { initUsersResetPasswordPage } from '/static/js/pages/users-reset-password.js';
    initUsersResetPasswordPage();
</script>
{% endblock content %}
