{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block content %}


<main class="default-container">
    <h3 class="main-title">Create Account</h3>
    <form id="signup-form">
        
        <label for="email">E-mail</label>
        <input id="email" type="text" name="email">
    
        <label for="password">Password</label>
        <input id="password" type="password" name="password">
    
        <label for="password_2">Repeat password</label>
        <input id="password_2" type="password" name="password_2">
        
        <div class="captcha-container hidden">
            <img id="captcha-img" title="Click to get a new image" >
            <br>
            <label for="captcha">Enter above image text (click to get a new image). Case of the text does not matter:</label>
            <input id="captcha" autocomplete="off" type="text" name="captcha">
            
        </div>
        <button id="submit" class="btn btn-primary">Send</button>
    </form>
</main>

<script type="module">
    import { initUsersSignupPage } from '/static/js/pages/users-signup.js';
    initUsersSignupPage();
</script>

{% endblock content %}
