{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block content %}

{% if token %}

<main class="default-container">
    <h3 class="main-title">Verify Account</h3>
    <form id="signup-form">
        <input id="token" type="hidden" name="token" value="{{ token }}" required>
        <button id="submit" class="btn btn-primary">Click to verify your account</button>
    </form>
</main>

<script type="module">
    import { initUsersVerifyPage } from '/static/js/pages/users-verify.js';
    initUsersVerifyPage();
</script>

{% else %}
<main class="default-container">
    <h3 class="main-title">Code is expired</h3>
    <p>Code is expired. Please request a new verification code on 
        <a href="/user/verify">this page</a>
    </p>
</main>
{% endif %}

{% endblock content %}
