{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block content %}
<main class="default-container">
    <h3>Create Prompt</h3>

    <form id="create-form">
        <label for="title">Title</label>
        <input id="title" type="text" name="title" maxlength="256" required>

        <label for="prompt">Prompt</label>
        <textarea id="prompt" name="prompt" maxlength="8096" rows="10" required></textarea>

        <br>
        <button id="create-btn">Save</button>
    </form>
</main>

<script type="module">
    import { Flash } from '/static/js/flash.js';
    import { Requests } from '/static/js/requests.js';

    document.getElementById('create-btn').addEventListener('click', async (event) => {
        event.preventDefault();
        const data = {
            title: document.getElementById('title').value,
            prompt: document.getElementById('prompt').value,
        };
        try {
            const res = await Requests.asyncPostJson('/prompt/create', data);
            if (res.error) {
                Flash.setMessage(res.message, 'error');
            } else {
                window.location.href = `/prompt/${res.prompt_id}`;
            }
        } catch (e) {
            Flash.setMessage('An error occurred. Try again later.', 'error');
        }
    });
</script>
{% endblock content %}