{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block content %}
<main class="default-container">
    <h3>New Custom Prompt</h3>

    <form id="create-form">
        <label for="title">Title</label>
        <input id="title" type="text" name="title" maxlength="256" required>

        <label for="custom-prompt">Prompt</label>
        <textarea id="custom-prompt" name="prompt" maxlength="8096" rows="10" required></textarea>

        <br>
        <button id="create-btn">Save</button>
    </form>
</main>

<script type="module">
    import { initPromptsCreatePage } from '/static/js/pages/prompts-create.js';
    initPromptsCreatePage();
</script>
{% endblock content %}
