{% extends "base.html" %}

{% block content %}
<main class="default-container">
    <h3>{{ prompt.title }}</h3>
    
    <p>
        {{ prompt.prompt }}
    </p>

    <div class="action-links">
        <a class="action-link" href="/prompt/{{ prompt.prompt_id }}/edit">Edit</a>
        <a class="action-link" id="delete-btn" data-prompt-id="{{ prompt.prompt_id }}">Delete</a>
        <a class="action-link" href="/prompt">Back to list</a>
    </div>
</main>

<script type="module">
    import { initPromptsDetailPage } from '/static/js/pages/prompts-detail.js';
    initPromptsDetailPage();
</script>
{% endblock content %}
