<script type="importmap">
{
    "imports": {
        "/static/js/app-copy-buttons.js": "/static/js/app-copy-buttons.js?version={{ version }}",
        "/static/js/app-dialog.js": "/static/js/app-dialog.js?version={{ version }}",
        "/static/js/app-elements.js": "/static/js/app-elements.js?version={{ version }}",
        "/static/js/app-events.js": "/static/js/app-events.js?version={{ version }}",
        "/static/js/app-icons.js": "/static/js/app-icons.js?version={{ version }}",
        "/static/js/app.js": "/static/js/app.js?version={{ version }}",
        "/static/js/chat-controller.js": "/static/js/chat-controller.js?version={{ version }}",
        "/static/js/chat-services.js": "/static/js/chat-services.js?version={{ version }}",
        "/static/js/chat-view.js": "/static/js/chat-view.js?version={{ version }}",
        "/static/js/diff-dom.js": "/static/js/diff-dom.js?version={{ version }}",
        "/static/js/error-log.js": "/static/js/error-log.js?version={{ version }}",
        "/static/js/flash.js": "/static/js/flash.js?version={{ version }}",
        "/static/js/markdown.js": "/static/js/markdown.js?version={{ version }}",
        "/static/js/pages/base.js": "/static/js/pages/base.js?version={{ version }}",
        "/static/js/pages/prompts-create.js": "/static/js/pages/prompts-create.js?version={{ version }}",
        "/static/js/pages/prompts-detail.js": "/static/js/pages/prompts-detail.js?version={{ version }}",
        "/static/js/pages/prompts-edit.js": "/static/js/pages/prompts-edit.js?version={{ version }}",
        "/static/js/pages/prompts-list.js": "/static/js/pages/prompts-list.js?version={{ version }}",
        "/static/js/pages/users-dialogs.js": "/static/js/pages/users-dialogs.js?version={{ version }}",
        "/static/js/pages/users-login.js": "/static/js/pages/users-login.js?version={{ version }}",
        "/static/js/pages/users-new-password.js": "/static/js/pages/users-new-password.js?version={{ version }}",
        "/static/js/pages/users-profile.js": "/static/js/pages/users-profile.js?version={{ version }}",
        "/static/js/pages/users-reset-password.js": "/static/js/pages/users-reset-password.js?version={{ version }}",
        "/static/js/pages/users-signup.js": "/static/js/pages/users-signup.js?version={{ version }}",
        "/static/js/pages/users-verify.js": "/static/js/pages/users-verify.js?version={{ version }}",
        "/static/js/requests.js": "/static/js/requests.js?version={{ version }}",
        "/static/js/short-cuts.js": "/static/js/short-cuts.js?version={{ version }}",
        "/static/js/top-menu-controller.js": "/static/js/top-menu-controller.js?version={{ version }}",
        "/static/js/top-menu-overlay.js": "/static/js/top-menu-overlay.js?version={{ version }}",
        "/static/js/utils.js": "/static/js/utils.js?version={{ version }}",
        "/static/dist/diffDOM.js": "/static/dist/diffDOM.js?version={{ version }}",
        "/static/dist/highlight.min.js": "/static/dist/highlight.min.js?version={{ version }}",
        "/static/dist/markdown-it-table.js": "/static/dist/markdown-it-table.js?version={{ version }}",
        "/static/dist/markdown-it.min.js": "/static/dist/markdown-it.min.js?version={{ version }}"
    }
}
</script>
